@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');

:root {
    --bg-color: rgba(255, 255, 255, 1);
    --node-bg-color: rgba(225, 225, 225, 1);
    --primary-text-color: rgba(0, 0, 0, 1);
    --secondary-text-color: rgba(50, 50, 50, 1);
}

p {
    display: inherit;
    margin-block-start: inherit;
    margin-block-end: inherit;
    margin-inline-start: inherit;
    margin-inline-end: inherit;
    unicode-bidi: inherit;
    white-space: pre-wrap;
}

button {
    border: none;
}

.page-container {
    display: flex;
    float: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    width: auto;
    min-height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    font-family: Arial, serif;
    text-align: center;
    font-weight: 300;
    font-size: 14pt;
    background-color: rgba(255, 255, 255, 1);
    color: var(--primary-text-color);

    white-space: pre-wrap;
}

.row-container {
    display: flex;
    float: center;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

.col-container {
    display: flex;
    float: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

.large-text {
    font-family: 'AR One Sans';
    font-style: normal;
    font-weight: 650;
    font-size: 36pt;
    line-height: auto;
    white-space: nowrap;
    text-align: center;
    color: var(--primary-text-color);
}

.medium-text {
    font-family: 'AR One Sans';
    font-style: normal;
    font-weight: 550;
    font-size: 24pt;
    line-height: auto;
    white-space: nowrap;
    text-align: center;
    color: var(--primary-text-color);
}

.body-text {
    font-family: 'AR One Sans';
    font-style: normal;
    font-weight: 650;
    font-size: 16pt;
    line-height: auto;
    white-space: nowrap;
    text-align: center;
    color: var(--primary-text-color);
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.secondary-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: auto;
    text-align: center;
    color: var(--secondary-text-color);
}

.course-node-container {
    background-color: var(--node-bg-color);
    color: var(--primary-text-color);
    padding: 10px;
    border-radius: 10px;
}

.course-node-group-container {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--node-bg-color);
}